/** CSS Reset */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; vertical-align: baseline; background: transparent; border: 0; }
body { line-height: 1; }
header, nav, footer, article, section { display: block; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: bold; }
ul { list-style: none; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }

/** Base typography */
html { font-size: 62.5%; } // Allows us to define rems in base-10
body { font-family: $fonts_body; @include font-size(14); line-height: 1.5em; color: $body_text_color; }
header, footer, h1, h2, h3, h4, h5, h6, #site-tagline { font-family: $fonts_headings; }
h1, h2, h3, h4, h5, h6 { line-height: 1.4em; text-rendering: optimizelegibility; }
h1, h2, h3 { @include x-rem(margin-bottom, 15); color: #222; }
h2 { @include font-size(26.5); }
h3 { @include font-size(24); }
ol, ul, dl, p, blockquote, .table-wrap { margin-bottom: $block_margin_bottom; }
ol, ul { margin-left: 1.4em; }
blockquote { @include x-rem(padding-left, 15); border-left: 5px solid #eee; }
a { color: $link_color;
  &:link, &:visited, &:hover, &:focus, &:active { text-decoration: none; }
  &:hover, &:focus, &:active { color: #f95856; }
}
img { display: block; max-width: 100%; margin: 0 auto; }

/** Utility classes */
.screen-reader-text { position: absolute; left: -99999em; }
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clear, .clearfix:after { clear: both; }

/** Structure */
#wrapper, footer { clear: both; min-width: 320px; max-width: 1200px; margin: 0 auto; padding: 0 3%; }

/** Header and footer */
header { overflow: hidden; padding: 1em 0 3em; }
#site-logo { float: left; max-width: 300px; margin-bottom: 1em; }
#user-nav, #footer-nav { text-transform: uppercase;
  $nav_padding: .5em;
  ul { margin-left: 0; }
  li { float: left; display: inline-block; padding-right: $nav_padding; line-height: 1em;
    + li { padding-left: $nav_padding; border-left: 1px solid; }
    &:last-child { padding-right: 0; }
  }
}
#user-nav { float: right;
  .welcome { font-weight: bold; }
}
#footer-nav { overflow: hidden; margin-top: 2em; padding: 1em 0; font-size: .8em; border-top: 2px solid #000; }

/** Content styles */
#content { clear: both; }

#contestant-list { margin-left: 0;
  > li { margin-bottom: $block_margin_bottom; }
  img { margin-bottom: .5em; padding: .5em; border: 1px solid #ccc; }
  .title { font-style: italic; color: #666; }
  .amount { font-size: 1.2em; font-weight: bold; }
}

.contestant-stats {
  ul { margin-left: 0; }
  li { float: left; padding: 0 2%; font-size: .8em; text-align: center; }
  img { width: 60%; margin: 0 auto .5em; }
  table { clear: both;
    img { display: inline-block; max-width: 8%; margin-right: 4%; vertical-align: middle; }
  }
}
.bar-graph { position: relative; width: 100%; height: 8em; margin-bottom: 1em;
  span { position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 100%; text-indent: -9999%; background: $link_color; }
}

/* Tables */
table { min-width: 100%;
  th, td { padding: .3em .75em; text-align: left; }
  th {
    &.amount, &.percentage { text-align: center; }
  }
  td { border-top: 1px solid #ccc;
    &.amount, &.percentage { text-align: right; }
  }
  tbody tr:first-child td { border-color: #000; }
}
.table-wrap { width: 100%; max-width: 100%; overflow: auto; }

/* Forms */
input, textarea, select { display: block; width: 100%; }
input[type="checkbox"] { display: inline-block; width: auto; margin-right: .5em; }
input[type="submit"], button, .button { float: right; width: auto; }
label { font-weight: bold;
  &.required:after { content: '*'; padding-left: .25em; color: $error_color; }
  &.inline { font-weight: normal; }
  &.terms { font-size: .8em; }
}

.form-list, .form-submit { max-width: 500px; overflow: hidden; margin-left: 0; }
.form-list {
  li { margin-bottom: 1em;
    &:last-child { margin-bottom: 0; }
  }
}

a.forgot-password { float: left; }

.mustache-list { display: none; }
html.js {
  .mustache-list { display: block; max-width: 500px; margin-left: 0; text-align: center;
    li { float: left; width: 25%;
      &:nth-child(4n+1) { clear: left; }
      a { display: block; padding: 15%;
        &.active { box-shadow: 0 0 6px #aaa; }
      }
    }
    img { margin-bottom: .5em; }
  }
  .mustache-id { display: none; }
}

.actions { margin-left: 0;
  li { display: inline-block; margin-right: 2em;
    &:last-child { margin-right: 0; }
  }
}
.btn { font-family: $fonts_headings; font-size: 1.1em; font-weight: bold; }

/* Flashes */
.global-notice, .flash { display: block; padding: .5em 1em; color: $notice_color; background: $notice_bg_color;
  &.success { color: $success_color; background: $success_bg_color; }
  &.error { color: $error_color; background: $error_bg_color; }
}
.flash { margin: 0 0 $block_margin_bottom; border: 1px solid; border-radius: $input_border_radius; }
.global-notice { width: 100%; margin-bottom: 1em; text-align: center; border-bottom: 1px solid; }

/** Modal */
#modal { position: relative; max-width: 600px; padding: 2em 2em (2em - $block_margin_bottom); background: #fff; display: none;
  .close-modal { position: absolute; right: 1em; top: 1em; font-size: 1.2em; }
}